.current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 688.933px;
    height: 598.833px;
    margin-top: -40px;
    margin-right: -10%;
    border: .6em solid #d22030;
  }
  
  .current-weather p {
    font-size: 1.5em; /* or whatever size you prefer */
}
