.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hourly-weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 76%;
    margin-left: -14%;
    border: .6em solid #d22030;
  }
  
  .hourly-weather-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
  }
  
  .hourly-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0 !;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    flex-shrink: 0;
    width: 120px;
  }
  
  .hourly-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: thick Solid #d22030;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
  }
  .hourly-table-1 {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  
  .hourly-table td {
    padding: 0px;
  }
