.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0;
  margin: 20px 0;
}

.news-articles-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  box-sizing: border-box;
}

.card-action-area {
  height: 100%;
}

.card-media {
  height: 140px;
  width: 100%;
}

.card-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
